---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-forward-declaration-namespace,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  readability-container-size-empty
WarningsAsErrors: 'clang-analyzer-*'
HeaderFilterRegex: '(^|/)src/'
FormatStyle: none
CheckOptions:
  bugprone-argument-comment.StrictMode: 'false'
  bugprone-easily-swappable-parameters.MinimumLength: '3'
...
